<div class="container">
  <h1>Purchases</h1>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Vendor</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody id="purchases">
    <%= render @purchases %>
  </tbody>
</table>
<div class="container">
  <h2>Total purchases: <%= @purchases.sum(:amount) %></h2>
</div>
<div class="container">
  <%= link_to 'Create a new purchase', new_purchase_path, class: "btn btn-block btn-info"%>
</div>
