<div class="container">
  <div class="jumbotron">
    <h2>Description: <%= @purchase.description %></h2>
    <h2>Amount: <%= @purchase.amount %></h2><br>

    <div class="col-md-12 text-center">
      <%= link_to 'Back', purchases_path, class: "btn btn-lg btn-dark" %> |
      <%= link_to 'Edit', edit_purchase_path(@purchase), class: "btn btn-lg btn-secondary" %>
  </div>
  </div>
</div>
