<div class="">
  <h1>Selected Purchase Details</h1>
</div>

<%= flash[:notice] %>
<div class="">
  <h2>Description: <%= @purchase.description %></h2>
</div>

<div class="">
  <h2>Amount: <%= @purchase.amount %></h2>
</div>
