<div class="alert-danger">
  <% if object.errors.any? %>
  <h2>The following errors prevented the record from being created</h2>
    <% object.errors.full_messages.each do |msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>
  <% end %>
</div>
