<div class='container'>
  <div class='row'>
    <div class='col-xs-4'>
      <h1>Vendors</h1>
    </div>
    <div class='col-xs-8'>
      <%= link_to 'Create a new vendor', new_vendor_path, class: 'btn btn-info create-btn' %>
    </div>
  </div>
</div>
<table class='table table-hover table-bordered'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone number</th>
      <th>Observation</th>
    </tr>
  </thead>
  <tbody id='vendors'>
    <%= render @vendors %>
  </tbody>
</table>
