<div class="container">
  <h1>Sales by Product</h1>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Client</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody id="sales_by_product">
    <%= render 'sales_by_product' %>
  </tbody>
</table>
