@import "bootstrap";
@import 'select2';
@import 'select2-bootstrap';
@import 'flag-icon-sass';

.flags {
  margin-left: 15px;
}
.create-btn {
  margin: 15px;
}

h1 {
  margin: 10px;
}

.product-buttons {
  margin: 15px auto 15px 0;
}

.products-list {
  margin: 20px;
}

.btn-block {
  margin: 15px 0;
}
