<div class='container'>
  <div class='row'>
    <div class='col-xs-4'>
      <h1>Products</h1>
    </div>
    <div class='col-xs-8'>
      <%= link_to 'Create a new product', new_product_path, class: 'btn btn-info create-btn' %>
    </div>
  </div>
</div>
<table class='table table-hover table-bordered'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Date</th>
      <th>Sales</th>
      <th>Ingredients</th>
    </tr>
  </thead>
  <tbody id='products'>
    <%= render @products %>
  </tbody>
</table>
