<div class='container'>
  <div class='row'>
    <div class='col-xs-4'>
      <h1>Sales</h1>
    </div>
    <div class='col-xs-8'>
      <%= link_to 'Create a new sale', new_sale_path, class: 'btn btn-info create-btn'%>
    </div>
  </div>
</div>
<table class='table table-hover table-bordered'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Client</th>
      <th>Products</th>
      <th>Total</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody id='sales'>
    <%= render @sales %>
  </tbody>
</table>

<%= paginate @sales, theme: 'twitter-bootstrap-4' %>

<div class='container'>
  <h2>Total sales: <%= number_to_currency @sales.sum(:amount) %></h2>
</div>
