<div class="container">
  <h1>Sales</h1>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Client</th>
      <th>Products</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody id="sales">
    <%= render @sales %>
  </tbody>
</table>

<%= paginate @sales, theme: 'twitter-bootstrap-4' %>

<div class="container">
  <h2>Total sales: <%= @sales.sum(:amount) %></h2>
</div>
<div class="container">
  <%= link_to 'Create a new sale', new_sale_path, class: "btn btn-block btn-info links"%>
</div>
